
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);
	--transp-paragraphs: hsl(179, 100%, 13%);
	--very-light-gray: hsl(0, 0%, 95%);
}

/*Front-End Mentor Stuff*/
.attribution {
            font-size: 11px;
            text-align: center;
        }

        .attribution a {
            color: hsl(228, 45%, 44%);
        }


/* re-check it */
body {
    height: 100vh;
}

@media (min-width:375px) {
	.main-card {
		display: block;
		margin: auto 25vh;
		padding-top: 10vh;
		padding-bottom: 10vh;
	}
		.main-card__icon {
	width: 3rem;
	height: 2rem;
	}
  
.main-card__title {
	font-family: "Big Shoulders Display";
	font-weight: 700;
	color: var(--very-light-gray);
	}

.main-card__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
	}

.main-card__text {
	font-family: "Lexend Deca";
	font-weight: 400;
    margin-bottom: 1rem;
}
.sedans {
	background-color: var(--bright-orange);
}

.suv {
	background-color: var(--dark-cyan);
	}

.luxury {
	background-color: var(--very-dark-cyan);
	}

.btn-sedan {
	color: var(--bright-orange);
	}

.btn-suv {
	color: var(--dark-cyan);
	}

.btn-luxury {
	color: var(--very-dark-cyan);
	}

.main-card__button {
/* 	Tried to use relative units on radius like rem, em or %. Didn't work */
	border-radius: 20px;
	padding: 3% 5%;
	background-color: var(--very-light-gray);
	border-style: none;
	width: 50%;
    max-width: 10rem;
	}
}

/* ---------------------------- Desktop Version ------------------------- */
@media (min-width: 900px){ /*Mudar para 1440*/
	.main-card {
	display: flex;
    padding: 10%; /*Why it centers the boxes on the page?*/
    justify-content: center;
    margin: 0 auto;
/* 	padding: 50vh 50vw; */
}


.main-card__icon {
	width: 3rem;
	height: 2rem;
}

.main-card__title {
	font-family: "Big Shoulders Display";
	font-weight: 700;
	color: var(--very-light-gray);
}

.main-card__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
	min-width: 453px;
}

.main-card__text {
	font-family: "Lexend Deca";
	font-weight: 400;
}
.sedans {
	background-color: var(--bright-orange);
}

.suv {
	background-color: var(--dark-cyan);
}

.luxury {
	background-color: var(--very-dark-cyan);
}

.btn-sedan {
	color: var(--bright-orange);
}

.btn-suv {
	color: var(--dark-cyan);
}

.btn-luxury {
	color: var(--very-dark-cyan);
}

.main-card__button {
/* 	Tried to use relative units like rem, em or %. Didn't work */
	border-radius: 20px;
	width: 80%;
	padding: 5%;
	background-color: var(--very-light-gray);
	border-style: none;

}

}

.main-card__button:hover {
	background-color: rgba(255,255,255, 0.1);
	border-style: solid;
	border-color: hsla(0, 0%, 100%, 0.75);
	color: hsla(0, 0%, 100%, 0.75);
/* 	Just in  case, on replit hover seems to change the box size */
/* 	box-sizing: content-box; */
}

h2, p, img {
	margin-bottom: 1rem;
	}



