* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bright-orange: hsl(31, 77%, 52%);
	--dark-cyan: hsl(184, 100%, 22%);
	--very-dark-cyan: hsl(179, 100%, 13%);
	--transp-paragraphs: hsl(179, 100%, 13%);
	--very-light-gray: hsl(0, 0%, 95%);
}

.main-card {
		display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 50vh 30vw;
}

.main-card__item--sedans {
	background-color: var(--bright-orange);
}

.main-card__item--suv {
	background-color: var(--dark-cyan);
}

.main-card__item--luxury {
	background-color: var(--very-dark-cyan);
}

.main-card__button {
/* 	Tried to use relative units like rem, em or %. Didn't work */
	border-radius: 15px;
}

h2, p, img {
	margin-bottom: 1rem;
}
